.every{
    background-color: rgba(27, 27, 27, 0.857);
}

.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.title{
    background-color: rgb(0, 0, 0);
    background-position: bottom;
    font-family: 'Lobster', cursive;
    color: rgb(255, 101, 18);
    display: flex;
    justify-content: flex-start;
    position: relative;
    /* right: -50px; */
    font-size: 300% 
}

.opcions{
    font-family: 'Lobster', cursive;
    text-align: center;
    display: inline-block;
    font-size: 24px;
    color: rgb(208, 13, 13);
    background: linear-gradient(0deg, #b9990c4d 0%, #fae20e4f 100%);
    border: none;
    border-radius: 20px;
    /* text-decoration: none; */
    cursor: pointer;
}

.newpro{
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 24px;
    color: rgb(208, 13, 13);
    background: linear-gradient(0deg, #b9990c4d 0%, #fae20e4f 100%);
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    
}
   

.newre:link, .newre:visited, .newre:active {
    text-decoration:none;
  }













